@import "../../vars.css";

.container {
    position: relative;
    background-color: rgba(107, 114, 211, 0.6);
    border-radius: 15px;
    padding: 73px;
    margin-top:  129px;
    z-index: 1;
    margin-left: 10%;
    margin-right: 10%;
}

.title {
    color: var(--color-text);
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1.75px;
    text-transform: uppercase;
}

.descript {
    margin-top: 20px;
    color: var(--color-text);
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
}

.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--color-text);
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
}

.aboutImage {
    width: 35%;
}

.aboutItems {
    color: var(--color-text);
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.aboutItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 20px;
    list-style: none;
    padding: 25px;
    background-image: linear-gradient(
        90deg, 
        rgba(247, 198, 228, 0.42) 0%, 
        rgba(84, 40, 138, 0) 100%
        );
    background-size: 0 100%;
    background-repeat: no-repeat;
    transition: 0.4s;
}

.aboutItem:hover {
    background-size: 100% 100%;
}

.aboutItem h3 {
    font-size: 25px;
    font-weight: 600;
}

.aboutItem p{
    font-size: 25px;   
}
/* as responsive element wanted */
@media screen and (max-width: 830px) {
    .container {
        background-color: transparent;
        padding-left: 0;
        padding-right: 0;
    }

    .content {
        flex-direction: column;
    }

    .aboutImage{
        display: none;
    }

    .aboutItems {
        margin-top: 29px;
    }

    .aboutItem {
        padding-left: 0;
        padding-right: 0;
    }
}