:root {
    /* Colours */
    /* --color-text: #fff;
    --color-primary: #576cbc;
    --color-secondary: #19376d;
    --color-dark: #0b2447;
    --color-bg: #04152d; */
    --color-text: #fff;
    --color-primary: #f4c2cb;
    --color-secondary: #fbd5e2;
    --color-dark: #e5618f;
    --color-bg: #fabcdc;
    /*Fonts */
    --font-roboto: "Roboto";

}